In [1]:
import pandas as pd

In [2]:
file_to_load = 'cities.csv'

In [3]:
cities_df = pd.read_csv(file_to_load)

In [5]:
cities_df = cities_df.set_index('City_ID')

In [6]:
cities_df

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
City_ID,,,,,,,,,
0,hermanus,-34.4187,19.2345,64.99,94,98,11.48,ZA,1612674939
1,cabo san lucas,22.8909,-109.9124,64.40,59,20,5.75,MX,1612674989
2,avarua,-21.2078,-159.7750,82.40,74,7,11.50,CK,1612674485
3,libohove,40.0311,20.2631,59.00,100,20,4.85,AL,1612675020
4,saint-philippe,-21.3585,55.7679,84.20,70,0,8.05,RE,1612675020
...,...,...,...,...,...,...,...,...,...
575,baghdad,33.3406,44.4009,55.40,94,75,6.91,IQ,1612675057
576,kapuskasing,49.4169,-82.4331,-11.20,77,30,3.44,CA,1612675235
577,ararat,39.8317,44.7049,28.40,93,0,1.14,AM,1612675235
578,jalu,29.0331,21.5482,55.85,47,0,9.08,LY,1612675236
579,kutum,14.2000,24.6667,44.31,57,16,7.20,SD,1612675236

In [ ]:
cities_df.to_html('cities.html', index = True, header = True)